<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<h2 style="text-align: center; color: #aaa; margin:0px; font-size: 1.2em;max-width: 280px; margin-left: auto; margin-right: auto;">Time to return <%itemLabel %>.</h2>
<div style="background-color: #77BE69; margin-top: 25px; margin-bottom: 35px;height: 2px; width: 100px; margin-left: auto; margin-right: auto;"></div>

