<div id="available-things" v-cloak>

  <div class="container">
    <div class="page-header text-center">
      <h1>Things</h1>
      <h2>View available items to borrow, or upload your own things.</h2>
      <div class="header-buttons">
        <button class="btn btn-outline-primary">Add an item</button>
      </div>
    </div>
    <div class="listings" v-if="things.length > 0">
      <div class="card" :key="'thing'+thing.id" v-for="thing in things">
        <div class="cardoptions ">
        <!--   <span class="label" v-if="thing.label">{{thing.label}}
            <span  @click="clickDeleteThing(thing.id)" v-if="thing.owner === me.id" ><span class="fa fa-trash-o text-danger"></span></span>
        </div>
        <small class="owner text-secondary" v-if="thing.owner === me.id"> <span class="fa fa-home mr-1"></span>Mine</small>
        <small class="owner text-primary" v-else> de: {{thing.owner.fullName}}</small> -->
          <span class="options-button" data-toogle="tooltip" data-placement="top" title="delete" @click="clickDeleteThing(thing.id)" v-if="thing.owner === me.id"><span class="fa fa-trash-o text-danger"></span></span>
        </div>
        <span class="label" v-if="thing.label">{{thing.label}}<br/></span>
        <small class="owner text-secondary" v-if="thing.owner === me.id"> <span class="fa fa-home mr-1"></span>Mine</small>
        <small class="owner text-primary" v-else> de: {{thing.owner}}> </small>
      </div>
    </div>
    <div class="empty text-center" v-else><p>You and your friends have not uploaded any items. Add something to get started!</p></div>
  </div>

  <% /* "Confirm Delete Thing" Modal */%>
  <modal v-if="confirmDeleteThingModalOpen && selectedThing" v-cloak key="delete" @close="closeDeleteThingModal()">
    <ajax-form action="destroyOneThing" :syncing.sync="syncing" :cloud-error.sync="cloudError">
      <div class="modal-header">
        <h5 class="modal-title">Remove this item?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to remove this {{selectedThing.label || 'item'}} ?</p>
        <p>This item will no longer be available to share with friends.</p>
          </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-outline-secondary mr-1">Nevermind</button>
        <ajax-button type="submit" class="btn btn-danger ml-1">Remove</ajax-button>
      </div>
    </ajax-form>
  </modal>
  <!-- <modal v-if="confirmReturnModalOpen && selectedThing" v-cloak key="confirmReturn" @close="closeConfirmReturnModal()">
    <div class="modal-header">
      <h5 class="modal-title">Mark {{selectedThing.label || 'item'}} returned</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <ajax-form action="updateOneThing" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="handleParsingConfirmReturnForm" @submitted="submittedConfirmReturnForm($event)">
      <div class="modal-body">
        <p>Has <strong>{{selectedThing.borrowedBy.fullName}}</strong> returned this <strong v-if="selectedThing.label">{{selectedThing.label}}</strong><span v-else>item</span>?</p>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-outline-secondary mr-1">No</button>
        <ajax-button type="submit" :syncing="syncing" class="btn btn-primary ml-1">Yes</ajax-button>
      </div>
    </ajax-form>
  </modal> -->
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>

